.not-found {
    padding: 2rem;
    width: 98.3%;
    display: grid;
    justify-content: center;
    align-items: flex-start;

    h1{
        color: #1E3748;
    }

    p {
        color: #52758d;
    }
}